.movies-page1{
    padding-top: 50px;
    padding-bottom: 50px;

    .icon{
        display: grid;
        place-items: center;
        
        img{
            border: 15px solid transparent;
            cursor: pointer;

            &:hover{
                border: 1px solid transparent;
                transition: 0.7s;
            }
        }
    }
}

.movies-page2{
    padding-top: 50px;
    padding-bottom: 50px;

    .icon{
        display: grid;
        place-items: center;
        
        img{
            border: 15px solid transparent;
            cursor: pointer;

            &:hover{
                border: 1px solid transparent;
                transition: 0.4s;
            }
        }
    }
}

.movies-page3{
    padding-top: 50px;
    padding-bottom: 50px;

    .icon{
        display: grid;
        place-items: center;
        
        img{
            border: 15px solid transparent;
            cursor: pointer;

            &:hover{
                border: 1px solid transparent;
                transition: 0.4s;
            }
        }
    }
}

.hidden-page1{
    display: none;
}

.hidden-page2{
    display: none;
}

.hidden-page3{
    display: none;
}