.movies-page1{
    padding-top: 50px;
    padding-bottom: 50px;

    .icon{
        display: grid;
        place-items: center;
        
        img{
            border: 2px solid rgb(255, 255, 255);
            cursor: pointer;
        }
    }
}

.movies-page2{
    padding-top: 50px;
    padding-bottom: 50px;

    .icon{
        display: grid;
        place-items: center;
        
        img{
            border: 2px solid rgb(255, 255, 255);
            cursor: pointer;
        }
    }
}

.movies-page3{
    padding-top: 50px;
    padding-bottom: 50px;

    .icon{
        display: grid;
        place-items: center;
        
        img{
            border: 2px solid rgb(255, 255, 255);
            cursor: pointer;
        }
    }
}

.hidden-page1{
    display: none;
}

.hidden-page2{
    display: none;
}

.hidden-page3{
    display: none;
}