@import "_movie";
@import "_modal";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #0E3386,#00BFFF, #7CB9E8);
    position: relative;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .inline{
        display: inline-flex;

        .search{
            font-family: sans-serif;
            padding: 10px;
            font-size: 18px;
            width: 400px;
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
        }

        .search:focus{
            outline: none;
            background-color: transparent;
        }

        .search::placeholder{
            color: rgb(255, 255, 255);
        }

        .first-space{
            padding: 10px;
        }

        .button-search{
            font-family: sans-serif;
            padding: 10px;
            font-size: 18px;
            border: none;
            font-weight: 800;
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
        }
    }
}

.page-number{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .inline-page-number{
        display: inline-flex;

        span{
            padding: 10px;
        }

        .button-page-one,
        .button-page-two,
        .button-page-three{
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            border: 1px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: bold;
        }
    }
}

@media (max-width: 495px) {
    header{

        .inline{
            
            .search{
                width: 250px;
            }
        }
    }
}

@media (max-width: 345px) {
    header{

        .inline{

            .search{
                width: 200px;
            }
        }
    }
}